<footer>
<div class="row">
    <div class="large-12 columns"><hr />
        <div class="row">
            <div class="large-3 columns site-description">
                <p><img src="https://tools.nasqueron.org/images/Nasqueron.png" width="80px" /></p>
                <p><strong>Nasqueron</strong> is a community of developers <span class="ampersand">&</span> creative people.</p>
                <hr />
                <p><strong>Nasqueron Infrastructure</strong> documents our infrastructure servers and operations.</p>
            </div>
            <div class="large-3 columns">
                <dl>
                    <dt>Ops repositories</dt>
                    <dd><a href="https://devcentral.nasqueron.org/source/operations/">Operations</a></dd>
                    <dd><a href="https://devcentral.nasqueron.org/diffusion/query/NelStiRVmgP0/">Docker images</a></dd>

                    <dt>Site repositories</dt>
                    <dd><a href="https://devcentral.nasqueron.org/source/infra-www/">Front-end</a></dd>
                    <dd><a href="https://devcentral.nasqueron.org/source/api-serverslog/">Servers log API</a></dd>
                    <dd><a href="https://devcentral.nasqueron.org/source/docker-registry-api/">Docker registry API</a></dd>

                </dl>
            </div>
            <div class="large-3 columns">
                <dl>
                    <dt>Infrastructure & Platform</dt>
                    <dd><a href="/servers-log">Servers log</a></dd>
                    <dd><a href="/docker/registry">Docker registry</a></dd>

                    <dt>Documentation</dt>
                    <dd><a href="https://agora.nasqueron.org/Operations_grimoire">Operations grimoire</a> (NOG)</dd>

                    <dt>Status</dt>
                    <dd><a href="https://status.nasqueron.org/">Servers status</a></dd>
                    <dd><a href="https://cd.nasqueron.org/job/tests-prod-environment-behaves-correctly/job/master/">Jenkins prod env tests</a></dd>

                </dl>
            </div>
            <div class="large-3 columns">
                <dl>
                    <dt>Report an issue</dt>
                    <dd><a href="https://devcentral.nasqueron.org/maniphest/task/edit/form/4/">Report service outage</a></dd>
                    <dd><a href="https://devcentral.nasqueron.org/maniphest/task/edit/form/3/">SSH key request</a></dd>
                    <dd><a href="https://devcentral.nasqueron.org/maniphest/task/edit/form/1/">Fill another task</a></dd>

                    <dt>Tasks</dt>
                    <dd><a href="https://devcentral.nasqueron.org/tag/servers/">Server tasks</a></dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="large-12 columns"><hr />
        <div class="row extrainfos">
            <div class="large-6 large-offset-6 columns">
                <p class="text-right">“This seems odd and even wrong, but nevertheless it is the case.”</p>
            </div>
        </div>
    </div>
</div>
</footer>
