body {
  margin-top: 3em;
}

h1 img {
  margin-right: 0.5em;
}

header {
  margin-bottom: 1.5em;
}

code {
  font-size: 0.9em;
}

.primary {
  a {
    color: #16353a;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $white;
  }

  code {
    color: $black;
    background-color: $white;
    border: 1px solid $light-gray;
  }
}

.secondary {
  h1, h2, h3, h4, h5, h6 {
    color: $black;
  }
}

.callout {
  h1, h2, h3, h4, h5, h6, a {
    color: $white;
  }
}

.label {
  margin-right: 0.25em;
}
