<h2>September</h2>
<h3 class="log-date" id="2016-09-05">2016-09-05</h3>
<p class="log-entry">
    <span class="log-component secondary label">Ysul</span>
    <span class="log-time">01:59</span>
    <span class="log-emitter">Dereckson</span>:
    <span class="log-message">General software upgrade round. PHP will be 5.6.25.</span>
</p>
<p class="log-entry">
    <span class="log-component secondary label">Ysul</span>
    <span class="log-time">01:47</span>
    <span class="log-emitter">Dereckson</span>:
    <span class="log-message">Upgraded userland to 10.1-RELEASE-p37</span>
</p>
<p class="log-entry">
    <span class="log-component secondary label">Dwellers/Acquisitariat</span>
    <span class="log-time">01:47</span>
    <span class="log-emitter">Dereckson</span>:
    <span class="log-message">Enable performance schema</span>
</p>

<h2>July</h2>
<h3 class="log-date" id="2016-07-21">2016-07-21</h3>
<p class="log-entry">
    <span class="log-component secondary label">AWS</span>
    <span class="log-time">01:59</span>
    <span class="log-emitter">Sandlayth</span>:
    <span class="log-message">AmazonS3FullAccess Policy attached to user Dwellers</span>
</p>
